.itemList {
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 34px;
  padding-top: 40px;
}
.loading {
  font-size: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
