.contador-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  width: fit-content;
  gap: 18px;
}

.contador-controls {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.contador-btn {
  background: #91b5ed6c;
  color: rgb(64, 63, 63);
  border: none;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.contador-btn:hover {
  background: #f3b517;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.086);
}

.contador-valor {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  min-width: 30px;
  text-align: center;
}
.agregar-carrito {
  background: linear-gradient(to bottom, #30c752, #28a745);
  color: white;
  padding: 12px 18px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 8px;
}

.agregar-carrito:hover {
  background: linear-gradient(to bottom, #2fe65a, #1faa3e);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.agregar-carrito:active {
  background: linear-gradient(to bottom, #079426, rgb(20, 102, 20));
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
