/* Estilos para la navbar */
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 25px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  border-radius: 50%;
  width: 90px;
  height: 90px; /* Asegurar forma circular */
  object-fit: cover; /* Mantener la proporción de la imagen */
  border: 2px solid rgba(255, 255, 255, 0.5); /* Borde claro sutil */

  /* Sombra externa para profundidad */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4),
    /* Sombra debajo */ inset 4px 4px 6px rgba(255, 255, 255, 0.4),
    /* Luz interna arriba izquierda */ inset -4px -4px 6px rgba(0, 0, 0, 0.3); /* Sombra interna abajo derecha */
}

.logoNombre {
  display: flex;
  align-items: center;
  gap: 24px;
}

.Nombre {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; /* Fuente más moderna y legible */
  font-size: 48px; /* Tamaño ligeramente más pequeño para mejor ajuste */
  font-weight: 700; /* Fuente en negrita, pero sin exagerar */
  color: #ffcc14; /* Mantiene el color dorado */
  text-transform: uppercase; /* Hace que el nombre se vea más elegante */
  letter-spacing: 2px; /* Añade un pequeño espaciado entre letras */
  text-shadow: 2px 2px 4px rgba(100, 97, 97, 0.816); /* Agrega un efecto de sombra para más contraste */
  display: flex;
  align-items: center; /* Asegura que el texto se alinee correctamente */
}

.navLinks {
  display: flex;
  gap: 34px;
  list-style: none;
}

.navLinks a {
  text-decoration: none;
  font-size: 146x;
  font-weight: 500;
  color: #3f3e3e;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  transform: scale(1.1);
  color: #343328;
}

.cart {
  font-size: 24px;
  color: #333;
  cursor: pointer;
}
